.banner{
    background: url('../img/img_pro/th.jpg') center center;
    height: 250px;
    padding: 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    color:#fff;
    text-align: center;
    h1,p{
        margin:0;
    }

    h1{
        font-size: 2.3rem;
    }

    p{
        font-family: $fuente2;
    }
}

