.footer{
    margin-top:3rem;
    background: $footer1;
    color:#fff;
    padding-top: 1rem ;
}

.data{
    margin-bottom: 3rem;
}

.contact{
    margin-top:2rem;
    padding: 0 .5rem;
    .metro{
        margin:0;
        font-size: 2.5rem;
        font-family: $fuente2;
        font-weight: 400;
        margin-bottom: 1.5rem;
        
    }

    span{
        color:$color1;
        margin-right: 1rem;
    }

    p{
        font-size: .9rem;
    }

    h3{
        font-size: 1rem;
    }

    ul{
        margin:0;
        padding: 0;
    }

    li{
        list-style: none;
        padding: .3rem 0;
        a{
            color:rgba(255,255,255,.5);
            font-size: .9rem;
        }
    }
}

.contact{
    form{
        input{
            border:none;
            display: block;
            background: lighten($footer1, 10%);
            color:rgba(255,255,255,.9);
            padding:.5rem;
            font-size: .9rem;
            margin:.5rem 0;
        }

        .sub{
            background:$color1;
            font-size: .8rem;
            font-weight: 600;
            cursor: pointer;
            &:hover{
                background:darken($color1,10%);
            }
        }
    }
}


.media{
    text-align: center;
    background: $footer2;
    color:rgba(255,255,255,.5);
    font-size: .9rem;
    padding: 1rem 0;
}

.media_icons{
    a{
        color:rgba(255,255,255,.5);
        font-size: .8rem;
        margin: .5rem 1rem;
    }
}