.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo{
    font-family: $fuente2;
    text-decoration: 3px underline $color1;
    font-weight: 500;
    font-size: 2rem;
}

.icon-menu{
    font-size: 1.5rem;
    cursor: pointer;
}

.menu_bar{
    position: absolute;
    top:80px;
    left:0px;
    background:lighten($letra,15%);
    width: 99%;
    display: none;
}

.menu_bar a{
    display: block;
    color:#f5f5f5;
    padding: .5rem;
    transition: all .3s;
    &:hover{
        background: $letra;
    }
}