.main{
    margin-top: .5rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;

    article{
        height: 250px;
    }

    img{
        width: 100%;
        height: 100%;
    }

    h2{
        text-align: center;
        font-family: $fuente2;
        color:lighten($letra, 25%);
        font-size: 1.2rem;
        font-weight: 500;

        position: relative;
        z-index: 1;
    }

    h2.linea:before {
        border-top: 2px solid #d2d2d2;
        content: " ";
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 95%;
        z-index: -1;
    }

    h2.linea span {
        background:#fff;
        padding: 0 20px;
    }

}