
@media(min-width:500px){
    .banner{
        height: 300px;
    }

    .main{
        article{
            height: 300px;
        }
    }
}

@media (min-width:700px){
    .header{
        display: flex;
        justify-content: space-between;
    }

    .logo{
        font-size: 2.5rem;
    }

    .icon-menu{
        font-size: 2rem;
    }

    .menu_bar{
        box-sizing: border-box;
        top:100px;
        width: 100%;
        a{
            padding: 1rem;
        }
    }

    .banner{
        height: 350px;
    }

    .main{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,auto);

        article{
            height: auto;
        }

        h2{
            grid-column: span 2;
        }
    }

    .data{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:900px){
    .header{
        position: initial;
    }

    .logo{
        width:50%;
    }

    .icon-menu{
        display: none;
    }
    .menu_bar{
        position: initial;
        display: flex;
        justify-content: space-around;
        background:none;
        font-family: $fuente2;
    }

    .menu_bar a{
        color:$letra;
        display:inline;
        box-sizing: border-box;
        font-size: .9rem;
        text-align: right;

        &:hover{
            background:none;
            font-weight: 500;
        }
    }

    .banner{
        height: 400px;
    }
}

@media (min-width:1200px){
    .banner{
        height: 450px;
    }

    .text{
        h1{
            font-size: 3.5rem;
            font-weight: 500;
        }

        p{
            font-size: 1.1rem;
        }
    }

    .main{
        grid-template-columns: repeat(3,1fr);
        margin-bottom: 5rem;

        h2{
            grid-column: span 3;
        }

        article{
            height: 230px;
        }
    }

    .data{
        grid-template-columns:repeat(5, auto);
    }

    .media{
        padding: .5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        a:hover{
            color:#fff;
        }
    }
}
