/********************FUENTES & COLORES*******************/
$fuente1:'Roboto', sans-serif;
$fuente2:'Roboto Slab', serif;

$letra:#21201c;
$color1:#d1c29b;
$footer1:#666565;
$footer2:#494949;
$borde:1px solid red;

/********************ESTILOS GENERALES*******************/
body{
    background:#fff;
    font-family: $fuente1;
    color:$letra;
    margin-top:-20px;
    padding: 0;
}

.container{
    width: 98%;
    max-width: 1100px;
    margin:0 auto;
    padding: 0 0.5rem;
}

a{
    text-decoration: none;
}

/********************HEADER*******************/
@import 'header.scss';


/********************BANNER*******************/
@import 'banner.scss';


/********************MAIN*******************/
@import 'main.scss';


/********************FOOTER*******************/
@import 'footer.scss';


/********************RESPONSIVE*******************/
@import 'responsive.scss';