/********************FUENTES & COLORES*******************/
/********************ESTILOS GENERALES*******************/
body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  color: #21201c;
  margin-top: -20px;
  padding: 0;
}

.container {
  width: 98%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

a {
  text-decoration: none;
}

/********************HEADER*******************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-family: "Roboto Slab", serif;
  -webkit-text-decoration: 3px underline #d1c29b;
          text-decoration: 3px underline #d1c29b;
  font-weight: 500;
  font-size: 2rem;
}

.icon-menu {
  font-size: 1.5rem;
  cursor: pointer;
}

.menu_bar {
  position: absolute;
  top: 80px;
  left: 0px;
  background: #4a483f;
  width: 99%;
  display: none;
}

.menu_bar a {
  display: block;
  color: #f5f5f5;
  padding: 0.5rem;
  transition: all 0.3s;
}
.menu_bar a:hover {
  background: #21201c;
}

/********************BANNER*******************/
.banner {
  background: url("../img/img_pro/th.jpg") center center;
  height: 250px;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: #fff;
  text-align: center;
}
.text h1, .text p {
  margin: 0;
}
.text h1 {
  font-size: 2.3rem;
}
.text p {
  font-family: "Roboto Slab", serif;
}

/********************MAIN*******************/
.main {
  margin-top: 0.5rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}
.main article {
  height: 250px;
}
.main img {
  width: 100%;
  height: 100%;
}
.main h2 {
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: #666357;
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  z-index: 1;
}
.main h2.linea:before {
  border-top: 2px solid #d2d2d2;
  content: " ";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
.main h2.linea span {
  background: #fff;
  padding: 0 20px;
}

/********************FOOTER*******************/
.footer {
  margin-top: 3rem;
  background: #666565;
  color: #fff;
  padding-top: 1rem;
}

.data {
  margin-bottom: 3rem;
}

.contact {
  margin-top: 2rem;
  padding: 0 0.5rem;
}
.contact .metro {
  margin: 0;
  font-size: 2.5rem;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.contact span {
  color: #d1c29b;
  margin-right: 1rem;
}
.contact p {
  font-size: 0.9rem;
}
.contact h3 {
  font-size: 1rem;
}
.contact ul {
  margin: 0;
  padding: 0;
}
.contact li {
  list-style: none;
  padding: 0.3rem 0;
}
.contact li a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}

.contact form input {
  border: none;
  display: block;
  background: #807e7e;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}
.contact form .sub {
  background: #d1c29b;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}
.contact form .sub:hover {
  background: #c1ad78;
}

.media {
  text-align: center;
  background: #494949;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  padding: 1rem 0;
}

.media_icons a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  margin: 0.5rem 1rem;
}

/********************RESPONSIVE*******************/
@media (min-width: 500px) {
  .banner {
    height: 300px;
  }

  .main article {
    height: 300px;
  }
}
@media (min-width: 700px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    font-size: 2.5rem;
  }

  .icon-menu {
    font-size: 2rem;
  }

  .menu_bar {
    box-sizing: border-box;
    top: 100px;
    width: 100%;
  }
  .menu_bar a {
    padding: 1rem;
  }

  .banner {
    height: 350px;
  }

  .main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .main article {
    height: auto;
  }
  .main h2 {
    grid-column: span 2;
  }

  .data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .header {
    position: initial;
  }

  .logo {
    width: 50%;
  }

  .icon-menu {
    display: none;
  }

  .menu_bar {
    position: initial;
    display: flex;
    justify-content: space-around;
    background: none;
    font-family: "Roboto Slab", serif;
  }

  .menu_bar a {
    color: #21201c;
    display: inline;
    box-sizing: border-box;
    font-size: 0.9rem;
    text-align: right;
  }
  .menu_bar a:hover {
    background: none;
    font-weight: 500;
  }

  .banner {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .banner {
    height: 450px;
  }

  .text h1 {
    font-size: 3.5rem;
    font-weight: 500;
  }
  .text p {
    font-size: 1.1rem;
  }

  .main {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 5rem;
  }
  .main h2 {
    grid-column: span 3;
  }
  .main article {
    height: 230px;
  }

  .data {
    grid-template-columns: repeat(5, auto);
  }

  .media {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .media a:hover {
    color: #fff;
  }
}